
.container {
  text-align:center;

}

.jumbotron {
  background:#383838;
  height:auto;
  padding:10px;
  margin-top:100px;
}

.solarblock {
  margin-top:20px;
  display:inline-block;
  float:left;

}

.solar-img {
  width:137px;
  height:137px;
  overflow:hidden;
  transition: transform .2s;
}

.solar-img:hover {
  transform: scale(1.2);
}

.link:hover {
  style:none;
}

.buttonblock {
  margin-top:20px;
  display:inline-block;
  overflow:hidden;
  padding:20px;

}

.ranking-button {
  margin:10px;
  border-radius:15px;
  overflow:hidden;
  background:none;

}

.ranking-button:hover {
  /* background-color:none; */
  background:none;
  color:none;
  border-radius:15px;

}

.h1-detail {
  font-size:80px;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

hr {
  background:white;
}

@media (min-width: 468px){
.container {
    max-width: 1300px;
}
}
