
.container {
  text-align:center;
}
hr {
  background:white;
}

/* HEADING */
.jumbotron {
  background:#383838;
  height:auto;
  padding:10px;
  margin-top:70px;
  text-align:center;
}

/* WIKI BUTTONS */
.WikiButton{
  margin-top:0px;
  border-radius:20px;
  background-color:#313131;
  border-color: #007bff;
  border-width:1px;
}
.WikiButton:hover{
  background-color:#3c3c3c;
  border-color:#007bff;
}
.WikiButton:focus{
  background-color:#464646 !important;
  border-color:#007bff !important;
  box-shadow:none !important;
}


/* SOLAR SYSTEM BLOCK */
.solarblock {
  margin-top:20px;
  display:inline-block;
  float:left;
}
.solar-img {
  width:137px;
  height:137px;
  overflow:hidden;
  transition: transform .2s;
}
.solar-img:hover {
  transform: scale(1.2);
}
.link:hover {
  style:none;
}

/* RANKING BUTTONS ALIGN */
.RankingsBlock {
  margin-top:20px;
  /* display:inline-block; */
  display:flex;
  justify-content:space-between;
  flex-wrap:wrap;
  overflow:hidden;
}

.ranking_button {
  margin: 30px auto;
  width: 240px;
  height: 240px;
  border-radius: 40px;
  box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
  cursor: pointer;
  transition: 0.4s;
}
.ranking_button_img {
  width: inherit;
  height: inherit;
  border-radius: 40px;
}
.ranking_button_img img {
  width: inherit;
  height: inherit;
  border-radius: 40px;
  object-fit: cover;
}
.ranking_button_title {
  text-align: center;
  border-radius: 0px 0px 40px 40px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 30px;
  margin-top: -90px;
  height: 40px;
  color: white;
}
.ranking_button:hover {
  transform: scale(0.9, 0.9);
  box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25),
    -5px -5px 30px 15px rgba(0,0,0,0.22);
}

/* SOLAR SYSTEM DETAILS */
.h1-detail {
  font-size:80px;
}
.img-fluid {
    max-width: 100%;
    height: auto;
}

/* RANKINGS DETAILS */
.rank-img{
  max-height:500px;
}


@media (max-width: 500px){
h2 {
    font-size:2rem;
}
h4 {
    font-size:1.2rem;
}
.h1-detail{
    font-size:3rem;
}}



@media (min-width: 468px){
.container {
    max-width: 1300px;
}
}
