.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    text-align:center;
}

.jumbotron {
  background:#383838;
}

h1,h2,h3,p {
  /* font-family: 'Roboto', sans-serif; */
  color:white;
}

h4 {
  font-family: 'Roboto', sans-serif;
  color:white;
  line-height: 1.6;
}

h2,h3 {
  text-align:center;
  color:white;
}

h5 {
  color:white;
}

.mr-3 {
  width:260px;
  height:160px;
}

a:not([href]):not([tabindex]) {
    color: red;

  }
